		header {
			margin-top: 20px;
			font-family: 'Roboto', sans-serif;
			max-width: 100%;


		}

	    body {
	    	margin: 0;
	    	padding: 0;
	    	
	    	
	    	
	    }	    
	    
	    .btn-primary {
	    	padding: 15px 25px;
	    	display: inline-block;
  			color: #000000;
  			border-radius: 10px;
  			text-decoration: none;
  			font-size: 22px;
  			font-weight: 500;
  			background-color: #FFA07A;

	    }
	    .btn-primary:hover {
	    	text-decoration: none;
	    	background-color: #800000;
	    }



		.menu *{
			margin: 0;
			padding: 0;
			z-index: 110;

	
		}
		.menu ul, .menu ol {
			list-style: none;

		}
		.menu ul {
			display: flex;
			justify-content: center;

		}
		.menu ul li a {
			display: block;
			background: rgb(238,238,238);
		background: -webkit-linear-gradient(rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
		background: -o-linear-gradient(rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
		background: linear-gradient(rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
			padding: 15px 50px 15px 60px;
			font-size: 25px;
			text-decoration: none;
			color: #453537;
			
		
		
		}



		.menu ul li {
			position: relative;
			border-right: 1px solid #c7c8ca;
			border-left: 1px solid #c7c8ca;

		}

		.menu ul li a i.fa {
			position: absolute;
			top: 20px;
			left: 18px;
			transition: 0.5s;

		}

		.menu ul li:first-child {
			border-left: 2px solid #b2b3b5;

		}
		.menu li a:hover {
			background: #696969;
			color: #ffffff;
			
			transition: 0.5s;
		}
		.menu li ul {
			position: absolute;
			min-width: 150px;
			display: none;
		}
		.menu li ul li {
			border: 1px solid #c7c8ca;
		}
		.menu li:hover ul {
			display: block;
		}
		
		.content .att {
			font-size: 3em;
			margin-top: 140px;
			font-family: 'Roboto', sans-serif;
			border-radius: 10px;
			background-color: #ffffff;
			display: inline-block;
			text-align: center;
			margin-left: 32%;
		}


		









   	.footer {
   		margin-top: 70px;
  		background-color: #131313;
  		padding: 120px 30px;
  		color: #666666;
  		position: static;
  		

	}




@media screen and (max-width: 992px) {
	.menu ul li a {
			display: block;
			background: rgb(238,238,238);
			background: -webkit-linear-gradient(rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
			background: -o-linear-gradient(rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
			background: linear-gradient(rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
			padding: 15px 35px 15px 45px;
			font-size: 19px;
			text-decoration: none;
			color: #453537;
			
		
		
		}

}
@media screen and (max-width: 767px) {
	.menu ul li a {
			display: block;
			background: rgb(238,238,238);
			background: -webkit-linear-gradient(rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
			background: -o-linear-gradient(rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
			background: linear-gradient(rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
			padding: 10px 15px 10px 20px;
			font-size: 10px;
			text-decoration: none;
			color: #453537;
			
		
		
		}
		.menu ul li a i.fa {
			position: absolute;
			top: 12px;
			left: 5px;
			transition: 0.5s;

		}

}
