		header {
			margin-top: 20px;
			font-family: 'Roboto', sans-serif;
		}

	    body {
	    	margin: 0;
	    	padding: 0;
	    	background-color: #DCDCDC;
	    	
	    }
	    img .imgifo {
	    	width: 300px;
			height: 310px;
			margin-bottom: 15px;
			margin-top: 10px;
	    }
	    img .imgifo7 {
	    	width: 300px;
			height: 315px;
	    }
	    img .imgifo8 {
	    	margin-bottom: 20px;
	    	margin-top: 20px;
	    	width: 300px;
	    }	
	    img{
	    	width: 350px;
	    	height: 300px;
	    }
	    div .col-7 b {
	    	line-height: 40px;
	    }
	    .col-5 {
	    	line-height: 40px;
	    	margin-top: 50px;
	    	font-size: 20px;

	    }
		.col-7 {
		font-size: 20px;
		margin-top: 50px;
		line-height: 30px;
		
	    }	
	    	
	    
	    .price {
	    	padding: 30px;
	    	font-size: 30px;
	    	
	    }
	    .btn-primary {
	    	padding: 15px 25px;
	    	display: inline-block;
  			color: #000000;
  			border-radius: 10px;
  			text-decoration: none;
  			font-size: 22px;
  			font-weight: 500;
  			background-color: #FFA07A;

	    }
	    .btn-primary:hover {
	    	text-decoration: none;
	    	background-color: #800000;
	    }



		.menu *{
			margin: 0;
			padding: 0;
			z-index: 110;

	
		}
		.menu ul, .menu ol {
			list-style: none;

		}
		.menu ul {
			display: flex;
			justify-content: center;

		}
		.menu ul li a {
			display: block;
			background: rgb(238,238,238);
		background: -webkit-linear-gradient(rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
		background: -o-linear-gradient(rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
		background: linear-gradient(rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
			padding: 15px 50px 15px 60px;
			font-size: 25px;
			text-decoration: none;
			color: #453537;
			
		
		
		}



		.menu ul li {
			position: relative;
			border-right: 1px solid #c7c8ca;
			border-left: 1px solid #c7c8ca;

		}

		.menu ul li a i.fa {
			position: absolute;
			top: 20px;
			left: 18px;
			transition: 0.5s;

		}

		.menu ul li:first-child {
			border-left: 2px solid #b2b3b5;

		}
		.menu li a:hover {
			background: #696969;
			color: #ffffff;
			transition: 0.5s;
		}
		.menu li ul {
			position: absolute;
			min-width: 150px;
			display: none;
		}
		.menu li ul li {
			border: 1px solid #c7c8ca;
		}
		.menu li:hover ul {
			display: block;
		}
		.lenovo {
			height: 200px;
			margin-top: 47px;
			margin-bottom: 40px;					
		}
		.col-lg-4 {
			margin-top: 60px;
			
		}



		.col-lg-4 a {
			text-decoration: none;
			display: block;
			color: #000000;
			font-size: 25px;
			text-align: center;


		}
		.col-lg-4 a text {
			
			
		}
		.xiomi {
			margin-bottom: -10px;
			
		}
		.acer {
			height: 200px;
			margin-bottom: 35px;
			margin-top: 50px;
			
		}
		.col-lg-4 a:hover {
		background: -webkit-linear-gradient(rgba(0,0,0,0.27) 0%, rgba(0,0,0,0.27) 5%, rgba(0,0,0,0.27) 22%, rgba(0,0,0,0) 100%);
		background: -o-linear-gradient(rgba(0,0,0,0.27) 0%, rgba(0,0,0,0.27) 5%, rgba(0,0,0,0.27) 22%, rgba(0,0,0,0) 100%);
		background: linear-gradient(rgba(0,0,0,0.27) 0%, rgba(0,0,0,0.27) 5%, rgba(0,0,0,0.27) 22%, rgba(0,0,0,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45000000', endColorstr='#00000000',GradientType=0 );
		}
		.ifo {
			width: 300px;
			height: 310px;
			margin-bottom: 15px;
		}
		.ifo8 {
			margin-bottom: 20px;
		}

		.ifo7 {
			width: 300px;
			height: 315px;
		}

		.tv1 {
			height: 240px;
			margin-bottom: 40px;
			padding: 15px;
		}
		.tv2 {
			margin-bottom: -20px;
			padding: 15px;
		}
		.tv3 {
			height: 255px;
			margin-bottom: 25px;
			padding: 15px;
		}









   	.footer {
   		margin-top: 70px;
  		background-color: #131313;
  		padding: 120px 30px;
  		color: #666666;

	}