body {
  background-color: #dcdcdc;
}

.container {
  margin-top: 50px;
}
.container__notebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: streth;
      -ms-flex-align: streth;
          align-items: streth;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.container__notebook__acer {
  text-align: center;
}
.container__notebook__acer:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.27)), color-stop(5%, rgba(0, 0, 0, 0.27)), color-stop(22%, rgba(0, 0, 0, 0.27)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0.27) 5%, rgba(0, 0, 0, 0.27) 22%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45000000', endColorstr='#00000000',GradientType=0 );
}
.container__notebook__acer a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.container__notebook__acer a img {
  height: 210px;
  max-width: 300px;
  margin-bottom: 15px;
}
.container__notebook__xiomi {
  text-align: center;
}
.container__notebook__xiomi:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.27)), color-stop(5%, rgba(0, 0, 0, 0.27)), color-stop(22%, rgba(0, 0, 0, 0.27)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0.27) 5%, rgba(0, 0, 0, 0.27) 22%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45000000', endColorstr='#00000000',GradientType=0 );
}
.container__notebook__xiomi a {
  text-decoration: none;
  display: inline-block;
  color: black;
  font-size: 20px;
}
.container__notebook__xiomi a img {
  margin-top: -35px;
  max-width: 300px;
  margin-bottom: -40px;
}
.container__notebook__lenovo {
  text-align: center;
}
.container__notebook__lenovo:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.27)), color-stop(5%, rgba(0, 0, 0, 0.27)), color-stop(22%, rgba(0, 0, 0, 0.27)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0.27) 5%, rgba(0, 0, 0, 0.27) 22%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45000000', endColorstr='#00000000',GradientType=0 );
}
.container__notebook__lenovo a {
  text-decoration: none;
  display: inline-block;
  color: black;
  font-size: 20px;
}
.container__notebook__lenovo a img {
  height: 210px;
  max-width: 300px;
  margin-bottom: 20px;
}
.container__iphone {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: streth;
      -ms-flex-align: streth;
          align-items: streth;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.container__iphone__ifo {
  text-align: center;
}
.container__iphone__ifo:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.27)), color-stop(5%, rgba(0, 0, 0, 0.27)), color-stop(22%, rgba(0, 0, 0, 0.27)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0.27) 5%, rgba(0, 0, 0, 0.27) 22%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45000000', endColorstr='#00000000',GradientType=0 );
}
.container__iphone__ifo a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.container__iphone__ifo a img {
  height: 270px;
  width: 300px;
  margin-bottom: 20px;
}
.container__iphone__ifo8 {
  text-align: center;
}
.container__iphone__ifo8:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.27)), color-stop(5%, rgba(0, 0, 0, 0.27)), color-stop(22%, rgba(0, 0, 0, 0.27)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0.27) 5%, rgba(0, 0, 0, 0.27) 22%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45000000', endColorstr='#00000000',GradientType=0 );
}
.container__iphone__ifo8 a {
  text-decoration: none;
  display: inline-block;
  color: black;
  font-size: 20px;
}
.container__iphone__ifo8 a img {
  height: 250px;
  width: 300px;
  margin-bottom: 40px;
}
.container__iphone__ifo7 {
  text-align: center;
}
.container__iphone__ifo7:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.27)), color-stop(5%, rgba(0, 0, 0, 0.27)), color-stop(22%, rgba(0, 0, 0, 0.27)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0.27) 5%, rgba(0, 0, 0, 0.27) 22%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45000000', endColorstr='#00000000',GradientType=0 );
}
.container__iphone__ifo7 a {
  text-decoration: none;
  display: inline-block;
  color: black;
  font-size: 20px;
}
.container__iphone__ifo7 a img {
  height: 270px;
  width: 300px;
  margin-bottom: 20px;
}
.container__tv {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: streth;
      -ms-flex-align: streth;
          align-items: streth;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.container__tv__tv1 {
  text-align: center;
}
.container__tv__tv1:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.27)), color-stop(5%, rgba(0, 0, 0, 0.27)), color-stop(22%, rgba(0, 0, 0, 0.27)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0.27) 5%, rgba(0, 0, 0, 0.27) 22%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45000000', endColorstr='#00000000',GradientType=0 );
}
.container__tv__tv1 a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.container__tv__tv1 a img {
  height: 200px;
  width: 300px;
  margin-bottom: 50px;
  padding: 5px;
}
.container__tv__tv2 {
  text-align: center;
}
.container__tv__tv2:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.27)), color-stop(5%, rgba(0, 0, 0, 0.27)), color-stop(22%, rgba(0, 0, 0, 0.27)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0.27) 5%, rgba(0, 0, 0, 0.27) 22%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45000000', endColorstr='#00000000',GradientType=0 );
}
.container__tv__tv2 a {
  text-decoration: none;
  display: inline-block;
  color: black;
  font-size: 20px;
}
.container__tv__tv2 a img {
  height: 250px;
  width: 300px;
  padding: 5px;
}
.container__tv__tv3 {
  text-align: center;
}
.container__tv__tv3:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.27)), color-stop(5%, rgba(0, 0, 0, 0.27)), color-stop(22%, rgba(0, 0, 0, 0.27)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0.27) 5%, rgba(0, 0, 0, 0.27) 22%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45000000', endColorstr='#00000000',GradientType=0 );
}
.container__tv__tv3 a {
  text-decoration: none;
  display: inline-block;
  color: black;
  font-size: 20px;
}
.container__tv__tv3 a img {
  height: 215px;
  width: 300px;
  margin-bottom: 35px;
  padding: 5px;
}
